@use 'foundation/breakpoints';

.application-list {
    hr {
        border: 0;
        border-top: 1px solid rgba(0,0,0,0.05);
        box-shadow: 0 1px 0 white;
    }
}

.application-item {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 80px 0;
    justify-content: space-between;

    &:nth-child(1) {
        padding-top: 50px;
    }

    .application-name {
        font-size: 20px;
        font-weight: 600;
        color: var(--accent);
        vertical-align: middle;
    }

    .download-link {
        display: flex;
        gap: 4px;

        margin-top: 32px;

        .label {
            display: flex;
            flex-direction: column;
            gap: 0;

            strong {
                color: var(--gray700);
                font-size: 14px;
                font-weight: 500;
            }

            span {
                color: var(--gray400);
                font-size: 12px;
            }
        }
    }

    .badge {
        font-size: 10px;
        font-weight: 600;
        padding: 2px 6px;
        border-radius: 10px;
        display: inline-block;

        color: var(--gray500);
        background: var(--gray300);
    }

    .application-description {
        font-size: 15px;
        color: var(--gray500);
        letter-spacing: -0.09px;
    }

    .application-body {
        font-size: 15px;
        margin-top: 32px;
        color: var(--gray700);

        p {
            margin-bottom: 20px;
            line-height: 21px;
        }

        a {
            color: var(--accent);
            text-decoration: none;
        }
    }

    .application-info {
        width: calc(var(--content-padding) + 330px);
        padding-top: 10px;

        img { display: block; }
    }

    .screenshot {
        position: absolute;
        img { display: block;}
    }

    &.even {
        .application-info  {
            padding-left: var(--content-padding);
        }

        .screenshot {
            right: 0;
            bottom: 0;
        }
    }

    &.odd {
        justify-content: flex-end;

        .application-info {
            order: 1;
            padding-right: var(--content-padding);
        }

        .screenshot {
            left: 0;
            bottom: 0;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .application-list hr {
        border-color: var(--gray800);
        box-shadow: none;
    }

    .application-item {
        .badge {
            color: var(--gray400);
            background: var(--gray700);
        }

        .application-body {
            color: var(--gray400);
        }

        .download-link {
            .label {
                strong { color: var(--gray100); }
                span { }
            }
        }
    }
}

@media (breakpoints.$mobile) {
    .application-list {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 64px;

        hr { display: none;}

        margin-bottom: 64px;
    }

    .application-item {
        max-width: 440px;
        align-self: center;
        background: transparent;
        flex-direction: column;
        position: relative;
        margin: 0 calc(var(--content-padding) / 2);
        padding: 0;
        gap: 24px;

        .application-body {
            padding: 0 16px;
            margin-top: 0;
            order: 1;
            font-size: 15px;
        }

        .application-info {
            display: flex;
            flex-direction: column;
            gap: 24px;
            background-color: white;
            width: 100%;
            border-radius: 16px;
        }

        &:nth-child(1) { padding: 0; }

        &.odd .application-info,
        &.even .application-info {
            padding: 24px 24px 0 24px;
        }

        .application-info {
            padding: 0;
            margin: 0;
            order: 0;
        }

        .screenshot {
            position: relative;
            margin-left: -24px;
            margin-right: -24px;
            align-self: center;
            img {
                max-width: 100%;
            }
        }

    }
}

@media (breakpoints.$mobile) and (prefers-color-scheme: dark) {
    .application-item {
        .application-info {
            background-color: black;
        }
    }
}