@use 'foundation/breakpoints';

.article-page {
    --padding: calc(var(--content-padding));
    header {
        background-color: white;
        padding: var(--section-padding) var(--padding);
        .site-name { padding: 0; }
    }

    .section-highlight {
        background-image: none;
    }

    article {
        padding: var(--section-padding) 0;
        font-size: 18px;
        color: #444444;
        line-height: 28px;
        background-color: #F9F9FA;

        .meta {
            padding: 0 var(--padding);
            font-size: 14px;
            display: flex;
            gap: 12px;

            .date { color: var(--gray500); }
            .tags { 
                display: flex;
                gap: 9px; 

                a {
                    color: var(--gray400); 
                    text-decoration: none;

                    &:hover { color: black; }
                }
            }
        }

        h1, h2, h3, h4, h5, h6 {
            padding: 0 var(--padding);
            color: var(--gray700);
            margin-bottom: 32px;
            padding-top: 24px;
        }

        & > h1 {
            margin-top: 8px;
            padding-top: 0;
            margin-bottom: 60px;
            font-size: 32px;
            font-weight: bold;
            line-height: 48px;
        }

        h2 { font-size: 24px; }
        h3 { font-size: 20px; }

        p {
            padding: 0 var(--padding);
            margin-bottom: 40px;
        }

        pre {
            padding: 56px var(--padding);
            overflow-x: scroll;
            margin-top: 66px;
            margin-bottom: 40px;
            font-size: 16px;
            font-family: monospace;
            background-color: white !important;
            border-top: 1px solid rgba($color: #000000, $alpha: 0.07);
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.07);
        }

        ul, ol {
            margin-bottom: 40px;
            margin-left: var(--padding);
            margin-right: var(--padding);
            padding: 0 24px;

            li {
                margin-bottom: 6px;
            }
        }

        video {
            display: block;
            margin: 0 auto;
            margin-bottom: 30px;
            box-shadow: inset 0 0 1px rgba($color: #000000, $alpha: 0.15);
            border-radius: 8px;
        }

        .overlay-container {
            position: relative;
        }

        .overlay-tr {
            position: absolute;
            top: 20px;
            right: 16px;
        }

        a {
            color: var(--accent);
            text-decoration: none;
        }
    }
}

pre {
    color: rgba($color: #000000, $alpha: 0.8) !important;
}

@media (breakpoints.$mobile) {
    .article-page {
        --padding: 24px;
        article {
            .meta {
                gap: 0px;
                flex-direction: column;

                .tags {
                    flex-wrap: wrap;
                }
            }

            h1, h2, h3, h4, h5, h6 {
                padding: 0 var(--padding);
                margin-bottom: var(--padding);
                padding-top: calc(var(--padding)/3);
            }

            & > h1 {
                line-height: normal;
                margin-top: 8px;
            }

            pre {
                padding-top: 32px;
                padding-bottom: 32px;
                margin-top: 32px;
                margin-bottom: 32px;
            }


            .overlay-container {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .overlay-tr {
                position: relative;
                order: -1;
                top: auto;
                right: auto;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .article-page {
        header {
            background-color: #151515;
        }

        article {
            color: #858585;
            background-color: #1a1a1a;

            .meta .tags {
                a { color: #777; }
                a:hover {
                    color: #fff;
                }
            }

            strong { 
                color: #ccc;
                font-weight: 500;
            }

            h1, h2, h3, h4, h5 {
                color: #bbb;
            }

            pre {
                background-color: #111 !important;
                border-color: #252525
            }
        }
    }

    pre {
        color: #888 !important;
    }
}