.experiments-section {
    .tabbed {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: calc(var(--content-padding) - 13px);
        margin-top: 56px;
        padding-bottom: 80px;
        gap: 8px;
        min-height: 440px;

        input.tab {
            position: absolute;
            opacity: 0;

            &:checked + label + .tab-content {
                display: block;
            }

            &:checked + label {
                background: rgba($color: #000000, $alpha: 0.04);
            }
        }

        label {
            display: block;
            cursor: pointer;
            padding: 11px 13px;
            max-width: 320px;
            border-radius: 13px;
        }

        .tab-content {
            display: none;
            width: 500px;
            height: 400px;
            position: absolute;
            right: 0;
            top: -40px;
        }
    }

    .experiment-name {
        font-size: 16px;
        color: var(--gray700);
    }

    .experiment-description {
        margin-top: 2px;
        font-size: 13px;
        color: var(--gray500);
    }

    .tab-content a {
        display: flex;
        position: absolute;
        left: 50%;
        top: -8px;
        transform: translateX(-50%);
        gap: 6px;

        color: var(--gray500);
        text-decoration: none;
        font-size: 14px;

        &:hover {
            color: var(--gray700);
        }
    }

    .mobile-device {
        padding: 11px;
        overflow: hidden;
        width: 197px;
        height: 399px;
        margin: auto;
        margin-top: 20px;
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 100000;
            pointer-events: none;
            background-image: image-set(
                url('/images/iphone_bezels.png') 1x,
                url('/images/iphone_bezels@2x.png') 2x,
                url('/images/iphone_bezels@3x.png') 3x,
            );
        }

        video {
            // width: 100%;
            height: 100%;
            border-radius: 16px;
            z-index: 1;
        }

        .video-controls {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            pointer-events: none;
            align-items: center;
            justify-content: center;

            label {
                display: block;
                width: 58px;
                height: 58px;
                background: url('/images/play.svg');
                backdrop-filter: blur(15px);
                -webkit-backdrop-filter: blur(15px);
                border-radius: 29px;
                pointer-events: all;
            }

            input {
                position: absolute;
                left: 10000;
                opacity: 0;
            }

            input:checked + label {
                transition: 300ms opacity;
                opacity: 0;
                background: url('/images/pause.svg');
            }
        }
    }

    .mobile-device:hover input:checked+label {
        opacity: 1;
    }
}

@media (prefers-color-scheme: dark) {
.experiments-section {
        .experiment-name { color: var(--gray100); }

        .tabbed {
            input.tab {
                &:checked + label {
                    background: rgba($color: white, $alpha: 0.04);
                }
            } 

            .tab-content a:hover {
                color: white
            }
        }
    }
}