@use 'foundation/colors';
@use 'foundation/sizing';
@use 'foundation/structure';
@use 'header';
@use 'application';
@use 'article-list';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--gray400);
    background-color: var(--site-background);
    font-family:  'SF Pro Text', 'SF Pro', 'Segoe UI', 'Open Sans', sans-serif;
}
