<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-scal=1.0">
    <title>Umur Gedik's Personal Website</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="content-wrapper">
        <header>
            <div class="site-name">
                <a href="#" class="site-title">Umur Gedik</a>
                <p class="site-subtitle">Software Developer & Designer</p>
            </div>

            <input type="search" placeholder="Search..." name="searc" id="search" />
        </header>
        <nav>
            <div class="nav-column">
                <strong>ARTICLES</strong>
                <a href="#">macOS Development</a>
                <a href="#">iOS Development</a>
                <a href="#">UI Design</a>
            </div>

            <div class="nav-column">
                <strong>DESIGN</strong>
                <a href="#">Mobile</a>
                <a href="#">Desktop</a>
                <a href="#">Big Screen</a>
            </div>

            <div class="nav-column">
                <strong>APPS</strong>
                <a href="#">Tribal for Mac</a>
                <a href="#">Stash.it</a>
            </div>

            <div class="nav-column">
                <strong>SOCIAL</strong>
                <a href="#">Twitter</a>
                <a href="#">Github</a>
            </div>
        </nav>

        <section>
            <h1><strong>#macOS</strong> ARTICLES</h1>
            <div class="article-list">
                <div class="article-list-item">
                    <a href="#"><img srcset="/assets/mini-thumbnail@2x.png, /assets/mini-thumbnail@2x.png 2x"
                            alt=""></a>
                    <div class="article-list-item-info">
                        <a href="#" class="article-list-item-title">Adding inline buttons to NSTextField</a>
                        <a href="#" class="article-list-item-description">Details about how NSTextField uses its cell
                            class to align its layout and its field editor.</a>
                        <p class="article-list-item-tags">
                            <a href="#AppKit">#AppKit</a>
                            <a href="#AppKit">#NSTextField</a>
                        </p>
                    </div>
                    <span>10 July 2021</span>
                </div>

                <div class="article-list-item">
                    <a href="#"><img srcset="/assets/mini-thumbnail@2x.png, /assets/mini-thumbnail@2x.png 2x"
                            alt=""></a>
                    <div class="article-list-item-info">
                        <a href="#" class="article-list-item-title">Adding inline buttons to NSTextField</a>
                        <a href="#" class="article-list-item-description">Details about how NSTextField uses its cell
                            class to align its layout and its field editor.</a>
                        <p class="article-list-item-tags">
                            <a href="#AppKit">#AppKit</a>
                            <a href="#AppKit">#NSTextField</a>
                        </p>
                    </div>
                    <span>10 July 2021</span>
                </div>
            </div>
        </section>
    </div>
</body>

</html>