* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --site-background: #131414;
        --content-background: #1C1D1E;
        --content-border-color: rgba(255, 255, 255, 0.08);
        --title-color: #D7DBE1;
        --subtitle-color: #717883;
        --input-background: #191A1A;
        --nav-link-color: #CED2D9;
        --content-padding: 120px;
        --article-list-background: #292A2B;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --site-background: #F3F4F6;
        --content-background: #F9FAFB;
        --content-border-color: rgba(0, 0, 0, 0.08);
    }
}

body {
    font-family: 'Segoe UI', 'SF Pro', 'Open Sans', sans-serif;
    background-color: var(--site-background);
}

#content-wrapper {
    margin: 0 auto;
    min-height: 100vh;
    width: 90vw;
    max-width: 1090px;
    background-color: var(--content-background);
    border: 1px solid var(--content-border-color);
    border-top: 0;
    border-bottom: 0;
}

.site-title {
    color: var(--title-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.site-subtitle {
    color: var(--subtitle-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 120px;

    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 0%, rgba(243, 244, 246, 0.00) 100%);
}

nav {
    padding: 0 120px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.nav-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav-column strong {
    color: var(--subtitle-color);
    font-size: 13px;
    font-weight: 600;
}

.nav-column a {
    text-decoration: none;
    color: var(--nav-link-color);
    font-size: 13px;
    font-weight: 400;
}

.nav-column a:active,
.nav-column a:hover {
    color: rgb(0, 174, 255);
}

input[type=search] {
    background: var(--input-background);
    /* Sketch doesnt export gradient borders at this point */
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.10),
        inset 0 2px 3px 0 rgba(0, 0, 0, 0.10);

    border-radius: 16px;
    height: 32px;
    border-width: 1px;
    border: 0;
    padding: 0 16px;

    outline: 0;
    color: var(--title-color);
}

section h1 {
    color: var(--subtitle-color);
    font-size: 16px;
    font-weight: 600;
}

section h1 strong {
    color: var(--title-color);
    font-weight: 600;
}

.article-list {
    background-color: var(--article-list-background);
    margin: 40px 0;
}

.article-list-item {
    display: flex;
    padding: 12px;
    gap: 14px;
    height: 80px;

    background-color: var(--article-list-background);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.10), 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.article-list-item img {
    background: #202122;
    width: 56px;
    height: 56px;
}

.article-list-item-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    min-width: 0;
    flex-grow: 1;
}

.article-list-item>span {
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
    color: #AAAAAA;
}

.article-list-item-title {
    text-decoration: none;
    color: var(--title-color);
    font-weight: 500;
    font-size: 15px;
}

.article-list-item-description {
    color: var(--subtitle-color);
    text-decoration: none;
    font-size: 13px;
}

.article-list-item-tags {
    display: flex;
    gap: 13px;
}

.article-list-item-tags a {
    text-decoration: none;
    font-size: 12px;
    color: #AAAAAA;
}

@media (max-width: 576px) {
    #content-wrapper {
        max-width: 100%;
        padding: 0;
        margin: 0;
        width: 100vw;
        background: none;
        border: 0;
    }

    html,
    body {
        -webkit-overflow-scrolling: touch !important;
        overflow: auto !important;
    }

    body {
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 0%, var(--content-background) 250px);
    }

    header {
        padding: 24px;
        flex-direction: column;
        align-items: stretch;
        gap: 16px;
        background-image: none;
    }

    input[type=search] {
        height: 40px;
        background-color: var(--site-background);
        box-shadow: none;
        color: var(--title-color);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        font-size: 16px;
        /* -webkit-appearance: none; */
    }

    nav {
        display: none;
    }

    section {
        padding: 16px 24px;
    }

    section h1 {
        font-size: 24px;
    }

    .article-list {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        gap: 24px;
        background: none;
    }

    .article-list-item {
        flex-direction: column;
        height: auto;
        align-items: left;
        gap: 0px;
        border-radius: 8px;
    }

    .article-list-item>span {
        align-self: flex-start;
    }

    .article-list-item-title {
        font-size: 16px;
        padding-bottom: 4px
    }

    .article-list-item-info {
        min-width: auto;
        padding: 16px 0 0;
    }

    .article-list-item-tags {
        padding: 16px 0 12px;
        gap: 16px;
    }
}

@media (min-width: 576px) {
    header {
        padding: 64px;
    }

    nav {
        padding: 0 64px;
    }

    section {
        padding: 64px 64px;
    }

    .article-list-item-description {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-lines: 1;
    }
}

@media (min-width: 1200px) {
    header {
        padding: 50px 120px;
    }

    nav {
        padding: 0 120px;
    }

    section {
        padding: 64px 120px;
    }
}