<nav>
    <div class="nav-column">
        <strong>ARTICLES</strong>
        <a href="#">macOS Development</a>
        <a href="#">iOS Development</a>
        <a href="#">UI Design</a>
    </div>

    <div class="nav-column">
        <strong>DESIGN</strong>
        <a href="#">Mobile</a>
        <a href="#">Desktop</a>
        <a href="#">Big Screen</a>
    </div>

    <div class="nav-column">
        <strong>APPS</strong>
        <a href="#">Tribal for Mac</a>
        <a href="#">Stash.it</a>
    </div>

    <div class="nav-column">
        <strong>SOCIAL</strong>
        <a href="#">Twitter</a>
        <a href="#">Github</a>
    </div>
</nav>