<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-scal=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent">
    <title>Umur Gedik's Personal Website</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="content-wrapper">
        {{ template "header_nav.html" }}
        <section>
            {{ template "content" . }}
        </section>
    </div>
</body>

</html>