<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} by {% endblock title%}Umur Gedik</title>
    <link rel="stylesheet" href="/main.css">
    {% block head %}
    {% endblock head %}
</head>
<body>
    <div id="content-wrapper">
        {% block content %}
        {% endblock content %}
    </div>

    <div style="font-size: 13px; padding: 20px var(--content-padding); opacity: 0.35; text-align: center;">
        Copyright © 2023 Umur Gedik. All rights reserved.
    </div>
</body>
</html>