{% import "macros.html" as macros %}

{% set bio = get_page(path='bio/index.md') %}

<header class="section-highlight section-separator">
    <div class="avatar mobile-only">
        {{ macros::imgset(root=bio.path, name="avatar", image=bio.extra.avatar, width=180+16, height=180+16, alt="avatar") }}
    </div>
    <div class="title-bar">
        <div class="site-name">
            <a href="#" class="site-title">Umur Gedik</a>
            <p class="site-subtitle">Software Developer & Designer</p>
        </div>

        {# <input type="search" placeholder="Search..." name="searc" id="search" /> #}
    </div>

    <div class="bio">
        <div class="avatar mobile-hidden">
            {{ macros::imgset(root=bio.path, name="avatar", image=bio.extra.avatar, width=180+16, height=180+16, alt="avatar") }}
        </div>
        <div class="content">
            <div class="social-links">
            {% for link in bio.extra.links %}
                <a class="social-link" target="_blank" href="{{ link.url | safe }}"><img class="mobile-only" src="/icons/social_{{ link.name | lower | safe }}.svg" aria-hidden="true" /><span class="mobile-hidden">{{ link.name }}</span></a>
                {% if not loop.last %}
                <span class="dot-separator"></span>
                {% endif %}
            {% endfor %}
            </div>
            {{ bio.content | safe }}
        </div>
    </div>
</header>
