{% macro article_list(pages) %}
<div class="article-list">
    {% for post in pages %}
    <div class="article-list-item">
        <a href="{{ post.permalink | safe }}">
            <img srcset="
            {% for size, file in post.extra.thumbnails %}
            {{ post.path | safe }}{{file | safe}} {{size}}{% if not loop.last %}, {% endif %}
            {% endfor %}" alt="">
        </a>
        <div class="article-list-item-info">
            <a href="{{ post.permalink | safe }}" class="article-list-item-title">{{ post.title }}</a>
            <a href="{{ post.permalink | safe }}" class="article-list-item-description">{{ post.description }}</a>
            <p class="article-list-item-tags">
                {% for tag in post.taxonomies.tags %}
                    <a href="{{ get_taxonomy_url(kind='tags', name=tag) | safe }}">#{{tag}}</a>
                {% endfor %}
            </p>
        </div>
        <span>{{ post.date | date(format="%_d %b %Y") }}</span>
    </div>
    {% endfor %}
</div>
{% endmacro article_list %}

{% macro imgset(root, name, image, width=false, height=false, alt="") %}
    <picture>
        {% for format in image.formats %}
            <source srcset="{% for size in image.sizes %}{{ root | safe }}{{ name }}@{{ size }}.{{ format }} {{ size }}, {% endfor %}" type="image/{{ format }}">
        {% endfor %}
        <img src="{{ root | safe }}{{ name }}@1x.{{ image.formats[0] }}" alt="{{ alt }}">
    </picture>
{% endmacro imgset %}

{% macro application(page, index, odd=false) %}
<div class="application-item {% if odd %}odd{% else %}even{% endif %} {% if index > 1 %}section-highlight{% endif %}">
    <div class="application-info">
        <div class="hstack gap16">
            {{ self::imgset(root=page.path, name="icon", image=page.extra.icon, width=48, height=48) }}
            <div class="vstack gap3">
                <div class="hstack gap8" style="align-items: center;">
                    <h3 class="application-name">
                        {{ page.title }}
                    </h3>
                    {% if page.extra.badge %}
                    <span class="badge">{{ page.extra.badge }}</span>
                    {% endif %}
                </div>
                <div class="application-description">{{ page.description }}</div>
            </div>
        </div>

        <div class="screenshot mobile-only">
            {{ self::imgset(root=page.path, name="screenshot", image=page.extra.screenshot) }}
        </div>

        <div class="application-body mobile-hidden">
            {{ page.content | safe }}
        </div>
    </div>
    <div class="screenshot mobile-hidden">
        {{ self::imgset(root=page.path, name="screenshot", image=page.extra.screenshot) }}
    </div>
    <div class="application-body mobile-only">
        {{ page.content | safe }}
    </div>
</div>
{% endmacro application %}
