@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .page-inset {
    padding: 50px 108px;
  }

  .text-inset {
    padding: 0 12px;
  }

  .image-inset {
    padding: 12px;
  }
}

@layer base {
  a:hover, a:focus {
    @apply text-blue-500;
  }
}

.elevated-container {
  outline: 1px solid rgba(0,0,0,0.10);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.10),
              0 8px 16px 0 rgba(0,0,0,0.07);
}

.page-wrapper {
  outline: 1px solid rgba(0,0,0,0.08);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10),
              0 16px 32px 0 rgba(0,0,0,0.05);
}

.image-container {
  max-width: 100%;
}

.image-container > div {
  position: unset !important;
}

.image-container img {
  object-fit: none;
  /* width: 100% !important; */
  position: relative !important;
  height: unset !important;
}